.yt1, .yt2, .yt3 {
	border:1px dashed lightcoral;
}

.row {
	border: 1px dashed lightgreen;
}

.form-inline {
    padding-top: 50px;
}

.yt3 {
	padding-top: 64px;
}

/*#search-input {
	width: 200%;
}

.search-btn {
	float: right;
}*/