.form-inline {
    padding-top: 50px;
}

.yt3 {
    padding-top: 60px;
}

/*div[class*="col-"] {
    border: 1px dashed red;
}*/

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
}

.list-group {
    margin: 52px 0;
}

.list-group-item {
    border: 0;
}

.list-group-item img {
    box-shadow: 2px 2px 8px black;
}

.more-videos {
    background-color: lightgrey;
    color: black;
    margin-top: 20px;
}
.more-videos img {
    width: 120px;
}

.text {
    width: 50px;
    margin-right: 100px;
}

.more-videos p {

	font-size: 10px;
	
}

.affix {
    top: 0;
    width: 100%;
    z-index: 222;
}

.affix + .container {
    padding-top: 70px;
}


.head {
    position: relative;
    padding-top: 42px;
}

.head:after {
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
    position: absolute;
    background: url('//yt3.ggpht.com/-R0KGSBqvxWc/VZrg0p0qBlI/AAAAAAAAAiI/y4aJQXuUYKA/w2120-fcrop64=1,00005a57ffffa5a8-nd/image1%2B2.JPG') 50% 50% no-repeat;
    background-position: center;
    opacity: 0.8;
}

.sub-head {
    position: relative;
    opacity: 1;
    z-index: 1;
}

.navbar {
    border-radius: 0;
}

.more-vid-row-bot, .more-vid-row-top {
	margin-top: 20px;
}

.users {
	color: blue;
}

.profile-content {
    border: 1px solid black;
    padding: 5px;
    background-color: gray;
}

.related-text {
	margin-left: 15px;
}

.related-style {
	color: blue;
}

.related-thumbnails
{
	padding: 0px 10px;
}

@media screen and (max-width: 800px) {
    .navbar {
        margin: 0;
    }
}
