.container {
    border: 1px dashed lightblue;
    padding: 10px;
}
div[class*="col-"] {
	/*border:1px dashed lightcoral;*/
}

.row {
	border: 1px dashed lightgreen;
}

.form-inline {
    padding-top: 50px;
}

.yt3 {
	padding-top: 64px;
}
ul {
    list-style-type: none;
}

/*.sub-videos {
    margin-top: 52px;
}*/

/*#search-input {
	width: 200%;
}

.search-btn {
	float: right;
}*/