<div class="container">
    <div class="col-md-8">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jRkJNHEFt8o" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="panel"> <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Share</div>
            </div>
            <div class="col-md-2">
                <div class="panel"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Favorite</div>
            </div>
            <div class="col-md-4">
                <div class="panel"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Flag</div>
            </div>
            <div class="col-md-2">
                <div class="panel"> <span>232,222</span> Views</div>
            </div>
        </div>
        <div class="row">
            <h3>Comments</h3>
            <div class="row comments-yt">
                <div class="col-md-8">
                    <h4 class="users">User 1</h4>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea"</p>
                </div>
            </div>

            <div class="row comments-yt-two">
                <div class="col-md-8">
                    <h4 class="users">User 2</h4>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.Lorem ipsum dolor
                        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea.Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea"</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="profile-content">
            <h4>Profile</h4>
            <a href="#">
                <img id="profile-img" class="more-vid-thumbnail pull-left" src="images/propic.png" alt="...">
            </a>
            <button type="button" class="btn btn-danger pull-right">Subscribe</button>
            <p>"Lorem ipsum dolor sit amet."</p>
            <br>
            <p> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea</p>
        </div>
        <div class="row related-videos">
            <h3 class="related-text">Related Videos</h3>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall2.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall3.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall1.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall2.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall1.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>
        <div class="row">
            <a href="#">
                <img class="related-thumbnails pull-left" src="images/vidSmall3.png" alt="...">
            </a>
            <h4 class="related-style">Related Videos...</h4>
            <p> 727 views</p>
        </div>

    </div>

</div>