<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3>Featured</h3>
            <!-- 16:9 aspect ratio -->
            <div class="embed-responsive embed-responsive-16by9">
                <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/jRkJNHEFt8o" frameborder="0" allowfullscreen></iframe>-->
                <img src="images/vidStill1.png" class="img-responsive paint" data-toggle="modal" data-target="#myModal">
                <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header"><h3 class="paint">Subscribe!</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                       
                      </div>
                      <div class="modal-body">
                       <img src="images/vidStill1.png">
                       <iframe id="paintVid" width="560" height="315" src="https://youtu.be/jRkJNHEFt8o" frameborder="0" allowfullscreen></iframe>
                       
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
       









            </div>
        </div>
        <div class="col-md-6 sub-videos">
            <div class="row">
                <div class="col-xs-6 col-md-12">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <img class="more-vid-thumbnail pull-left" src="images/vidSmall1.png">
                            <span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</span>
                        </li>
                        <li class="list-group-item">
                            <img class="more-vid-thumbnail pull-left" src="images/vidSmall2.png"> Cras justo odio
                            <span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</span>
                        </li>
                        <li class="list-group-item">
                            <img class="more-vid-thumbnail pull-left" src="images/vidSmall3.png"> Cras justo odio
                            <span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container more-videos">
    <h3>More Videos</h3>
    <div class="row more-vid-row-top">
        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid1.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid2.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid2.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid3.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>
    </div>
    <div class="row more-vid-row-bot">
        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid1.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid2.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>

        <div class="col-xs-6 col-md-3">
            <a href="#">
                <img class="more-vid-thumbnail pull-left" src="images/vidMid3.png" alt="...">
            </a>
            <p class="more-vid-text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea."</p>
        </div>
    </div>

</div>

